<a href="https://colab.research.google.com/github/Sairamkundalapalli/Training-sessions/blob/main/Training_Day6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# wap 0 2 3 4 5
#1
a=list(map(int,input().split(" ")))
# b=len(a)
# c=b*(b+1)//2
# d=sum(a)
# print(c-d)

count=0
for i in a:
  if count!=i:
    break
  count+=1
print(count)

0 1 2 3 4 6
5

In [ ]:
# wap 1 2 3 4 5
# 2
# 3 4 5 1 2

l=list(map(int,input().split(" ")))
k=int(input())
p=k%len(l)
print(l[p:]+l[:p])

1 2 3 4 5
2
[3, 4, 5, 1, 2]

In [ ]:
#wap sort two lists without using inbuilt
#  1 3 5
#  2 6 4
#  1 2 3 4 5 6
l1=list(map(int,input().split(" ")))
l2=list(map(int,input().split(" ")))
l=l1+l2
for i in range(len(l)):
  for j in range(i+1,len(l)):
    if l[i]>l[j]:
      l[i],l[j]=l[j],l[i]
print(*l)

6 4 5
1 2 3
1 2 3 4 5 6

In [ ]:
#wap to print duplicates
l=[1,2,3,5,4,1,2,8,4]
l1=[]
l2=[]
for i in l:
  if i not in l1:
    l1.append(i)
  else:
    l2.append(i)
print(*l2)

1 2 4

In [ ]:
# compare two lists and print print unique values
l = [1, 2, 3, 5, 2, 3]
l1 = [2, 3, 4, 5, 89, 7, 8, 3, 5, 3]
ans = []
for i in l:
    if i in l1 and i not in ans:
        ans.append(i)
if len(ans) > 0:
    print("Common elements:", *ans)
else:
    print("no matched elements")

Common elements: 2 3 5

In [ ]:
#wap frequency of numbers
# 1:2
# 2:2
# 3:2

l=[10,20,30,10,20,30,45,15,69]
d={}
for i in l:
  if i in d:
    d[i]+=1
  else:
    d[i]=1
for k,v in d.items():
  print(k,":",v)

10 : 2
20 : 2
30 : 2
45 : 1
15 : 1
69 : 1

In [ ]:
# 3 to keysinterchanging the keys to values
# a 1
# b 2
# c 3

# 1 a
# 2 b
# 3 c

n=int(input())
d={}
for i in range(n):
  key,value=input().split()
  d[value]=key
for k,v in d.items():
  print(k,v)

1
1 a
a 1

In [ ]:
# 2
# a 1
# b 1
# 1: a b
n = int(input())
d = {}
for i in range(n):
    key, value = input().split()
    d[key] = int(value)

new_d = {}
for key, value in d.items():
    if value not in new_d:
        new_d[value] = []
    new_d[value].append(key)

for k, v in new_d.items():
    print(f"{k}: {' '.join(v)}")

2
a 1
b 1
1: a b

#**RECURSION**

In [ ]:
#---------------->it is a process of function calling itself

#factorial
def fact(n):
  if n==0:
    return 1
  return n*fact(n-1)
print(fact(5))

#
def sum(n):
  if n==0:
    return 0
  return n+sum(n-1)
print(sum(10))

#fibonacci
def fib(n):
  if n==0 or n==1:
    return n
  return fib(n-1)+fib(n-2)
n=int(input())
for i in range(n):
  print(fib(i),end=" ")

120
55
5
0 1 1 2 3

In [ ]:
#string palindrome or not using function
def p(n):
  if len(n)==0:
    return ""
  return n[-1]+p(n[:-1])
n="sairam"
a=p(n)
if(n==a):
  print("palindrome")
else:
  print("not a palindrome")

saiias
palindrome

In [ ]:
#palindrome or not for a number
n=int(input())
rev=0
temp=n
while(temp!=0):
  d=temp%10
  rev=(rev*10)+d
  temp//=10
if (n==rev):
  print("palindrome")
else:
  print("palindrome")

1221
palindrome

#**Exception Handling**

In [ ]:
# ----------->we can access logical error
# ------------>three blocks namely try,except,finally block
# ---------->TYPES
# --------->ValueError
# --------->ZeroDivisionError
# -------->we can access many excpt block for a single try block
try:
  n=int(input())
  print(n)
except ValueError as e:                    #gives a message
  print(e)
finally:
  print("finally")

abc
invalid literal for int() with base 10: 'abc'
finally

In [ ]:
#ZeroDivisionError
try:
  n=int(input("enter the value of n:"))
  m=int(input("enter the value of m:"))
  print("%.3f"%(n/m))
except ZeroDivisionError as e:
  print(e)
finally:
  print("finally")

enter the value of n:450
enter the value of m:5
90.000
finally

In [ ]:
#ZeroDivisionError and value error
try:
  n=int(input("enter the value of n:"))
  m=int(input("enter the value of m:"))
  print("%.3f"%(n/m))
except ZeroDivisionError as e:
  print(e)
except ValueError as e:
  print("Enter the int value")
finally:
  print("finally")

enter the value of n:56
enter the value of m:7
8.000
finally

In [ ]:
# a=123456
# l=[int(i) for i in reversed(str(a))]
# print(l)

a=123456
l=[]
while(a!=0):
  l.append(a%10)
  a//=10
print(l)

[6, 5, 4, 3, 2, 1]

In [ ]:
n=5
a=1
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 :
      print(j,end=" ")
      a+=1
    elif j==n:
      print(a)
      a+=1
    elif i==n:
      print(a,end=" ")
      a+=1
    else:
      print(" ",end=" ")
      #a+=1

  print()

1 2 3 4 5
        6

        7

        8

9 10 11 12 13

In [ ]:
rows, cols = 5, 5
num = 1
pattern = [[0 for _ in range(cols)] for _ in range(rows)]
top, bottom, left, right = 0, rows - 1, 0, cols - 1

while top <= bottom and left <= right:
    # Fill top row
    for i in range(left, right + 1):
        pattern[top][i] = num
        num += 1
    top += 1

    # Fill right column
    for i in range(top, bottom + 1):
        pattern[i][right] = num
        num += 1
    right -= 1

    # Fill bottom row
    if top <= bottom:  # Check to avoid over-writing in the top row
        for i in range(right, left - 1, -1):
            pattern[bottom][i] = num
            num += 1
        bottom -= 1

    # Fill left column
    if left <= right:  # Check to avoid over-writing in the right column
        for i in range(bottom, top - 1, -1):
            pattern[i][left] = num
            num += 1
        left += 1

# Print the spiral pattern
for row in pattern:
    print(*row)

1 2 3 4 5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9