<a href="https://colab.research.google.com/github/Sairamkundalapalli/Training-sessions/blob/main/Training_day3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#vowel or consonent
a=input()
print("vowel" if a in "AEIOUaeiou" else "consonent")

l
consonent

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i**2,end=" ")

In [ ]:
n=int(input())
for i in range(1,n+1):
  print(i**3,end=" ")

In [ ]:
#odd or even
n=int(input())
for i in range(n,-1,-2):
  print(i,end=" ")

6
6 4 2 0

In [ ]:
#fibonacci
n=int(input())
a,b=0,1
print(a,b,end=" ")
for i in range(n+1):
  c=a+b
  print(c,end=" ")
  a=b
  b=c

6
0 1 1 2 3 5 8 13 21

In [ ]:
#prime no's
n=int(input())
for i in range(2,n+1):
  for j in range(2,i):
    if i%j==0:
      break
  else:
    print(i,end=" ")

8
2 3 5 7

In [ ]:
#sum of no's up to n
n=int(input())
for i in range(1,n+1):
  print(i*(i+1)//2,end=" ")

6
1 3 6 10 15 21

In [ ]:
#1 2 5 12 27 58
n=int(input())
for i in range(1,n+1):
  print((2**i)-i,end=" ")

5
1 2 5 12 27

##Patterns

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i,j," ",end=" ")
  print()

1 1   1 2   1 3   1 4   1 5
2 1   2 2   2 3   2 4   2 5
3 1   3 2   3 3   3 4   3 5
4 1   4 2   4 3   4 4   4 5
5 1   5 2   5 3   5 4   5 5

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(i,n+1):
    print("*",end=" ")
  print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    print(i,end=" ")
  print()

1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# print(ord('a'))
# print(chr(97))
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(i+96),end=" ")
  print()

a a a a a
b b b b b
c c c c c
d d d d d
e e e e e

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    print(chr(j+64),end=" ")
  print()

A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [ ]:
#hallow sphere
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
#hallow sphere with diagonals
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n or i==j or i+j==n+1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
#hallow sphere with +
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i==1 or i==n or j==1 or j==n or i==3 or j==3):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*   *   *
* * * * *
*   *   *
* * * * *

In [ ]:
#Diamond
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if(i+j==4 or i+j==8 or i*j==8):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
  *   *
*       *
  *   *
    *

In [ ]:
#right angle triangle
n=5
for i in range(1,n+1):
  for j in range(i):
      print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *

In [119]:
#reverse of RAT
n=5
for i in range(1,n+1):
  for j in range(n+1-i):
      print("*",end=" ")
  print()

* * * * *
* * * *
* * *
* *
*

In [122]:
#left angle triangle
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i+j>=6:
        print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [153]:
#full triangle
n=5
for i in range(1,n+1):
  for j in range(n+1):
    if i+j>=6:
        print("*",end=" ")
    else:
      print(" ",end="")
  print()

     *
    * *
   * * *
  * * * *
 * * * * *

In [220]:
#Reverse Full triangle
for i in range(1,n+1):
      for j in range(1,n+1):
            if(i<=j):
                 print("*",end=" ")
            else:
                  print(" ",end="")
      print()

* * * * *
 * * * *
  * * *
   * *
    *

In [163]:
#Diamond
n=5
for i in range(1,n):
    for j in range(1,n+1):
            if(i+j>=6):
                 print("*",end=" ")
            else:
                 print(" ",end="")

    print()
for i in range(1,n+1):
      for j in range(1,n+1):
            if(i<=j):
                 print("*",end=" ")
            else:
                  print(" ",end="")
      print()

    *
   * *
  * * *
 * * * *
* * * * *
 * * * *
  * * *
   * *
    *

In [152]:
#first letter of your name
n=5
for i in range(1,n+1):
  for j in range(1,n+1):
    if i==1 or i==3 or i==5 or i*j==n-3 or i*j==n+15:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*
* * * * *
        *
* * * * *

#Lists

In [235]:
# #Lists[]
# ---------->heteragenius
# ---------->duplicates
# ---------->we can access the elements by index
# ---------->mutable/changable
# ------------>cant give user input

''' l=[12,34,"Hello",8,True,23,67]'''

#user input
'''l=list()
print(l)
print(type(l))'''

#Range in list
'''l=list(range(1,10+1,3))
print(l)
print(type(l))'''

#length
'''l=[12,34,"Hello",8,True,23,67]
print(len(l))'''

#index in list
'''l=[12,34,"Hello",8,True,23,67]
print(l.index("Hello"))'''

#count
'''l=[12,34,"Hello",45,True,23,67,12,45,12,112,12]
print(l.count(12))'''

#max
'''l=[12,34,156,789,568,2526,533,7852]
print(max(l))'''

#min
'''l=[12,34,156,789,568,2526,533,7852]
print(min(l))'''

#index finding in duplicate case
'''l=[12,34,156,789,568,12,533,7852]
print(l.index(12))'''

#sum
'''l=[12,34,156,789,568,2526,533,7852]
print(sum(l))'''

#Avg
'''l=[1,2,3,4,5,6,7,8,9,10]
a=sum(l)
p=len(l)
print(a//p)
print(sum(l)//len(l))'''

#Sort
'''l=[123,569,895,25,458,403,892]
l.sort()
print(l)         #asc
print(sorted(l,reverse=True))       #des    '''

#Add element in list
'''#------->append for element at last position
l=[10,20,30,40,50]
l.append(60)
print(l)
#-------->insert for element at specific index
l.insert(1,15)
print(l)
#------

#if it is out of bound the element is stored at last
l.insert(90,200)
print(l)'''

#extend

'''l=[10,20,30,40,50,60,70]
l1=[80,90,100,110,120,130]
l.extend(l1)
print(l)'''

#delete
'''l1=[80,90,100,110,120,130]
l1.pop(2)        #------>pop() delete end of the element or index specific value
print(l1)
l1.remove(90)    #------->remove(pass a value)
print(l1)'''

#Reverse
'''l1=[80,90,100,110,120,130]
l1.reverse()     #method 1
print(l1)'''

#Slicing and Indexing
'''L=[80,90,100,110,120,130]
#print(l[::-1])
print(L[1:4:1])'''

[130, 120, 110, 100]