<a href="https://colab.research.google.com/github/Sairamkundalapalli/Training-sessions/blob/main/Training_day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assignment operator---------------==-------------
# ==
a=5
b=10
a+=b
a-=10
a*=10
a/=10
print(a)

#identity operator--------------------is/is not---------
a=10
b=20
print(a is b)
print(a is not b)
c=[10,23,"hello"]

#Assignment operator---------------==-------------
# ==
a=5
b=10
a+=b
a-=10
a*=10
a/=10
print(a)

#identity operator--------------------is/is not---------
a=10
b=20
print(a is b)
print(a is not b)
c=[10,23,"hello"]
d=[10,23,"hello"]
print(c is not d)
print(c is d)

#Membership operator------------------in/not in-----------

a="hello"
print("h" in a)
print("hl" in a)
print("helo" not in a)

l=[12,34,25,89,"hello"]
print("hello" in l)
print(12 not in l)


#note:arithmatic,assignment & bitwise are return decimal value rest are return to bool

5.0
False
True
5.0
False
True
True
False
True
False
True
True
False

# Control Statements



1.   Conditional Statement
2.   Looping Statement
3.   Unconditional

In [ ]:
#1Conditional Statement
#it is also known as branching statements.it will ecxecute block of statements based on a condition
      #simple if
      #if/else
      #nested if
      #if/elif
      #if/elif/ladder
      #match

#simple if
"""age=int(input("Enter the value:"))
if age==18:
  print("you are eligible")"""

#if/else
"""age=int(input("Enter the value:"))
if age>=18:
  print("you are eligible")
else:
  print("you are not eligible")"""

#if/elif
"""age=int(input("Enter the value:"))
if age>=18:
  print("you are eligible")
elif age<18:
  print("you are not eligible")
else:
  print("invalid input")"""

#if/elif/ladder
"""a=int(input())
if a==1:
  print("sunday")
elif a==2:
  print("monday")
elif a==3:
  print("tuesday")
elif a==4:
  print("wednesday")
elif a==5:
  print("thursday")
elif a==6:
  print("friday")
elif a==7:
  print("saturday")
else:
  print("Invalid Value")"""

#match is an alter of if/elif.it works same as switch statement
a=int(input())
match a:
  case 1:
    print("sunday")
  case 2:
    print("monday")
  case 3:
    print("tuesday")
  case 4:
    print("wednesday")
  case 5:
    print("thursday")
  case 6:
    print("friday")
  case 7:
    print("saturday")
  case _:
    print("Invalid Value")

"""a=int(input())
l=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday","Invalid Value"]
if(a>=8):
  print(l[-1])
else:
  print(l[a])"""

6
friday

In [ ]:
#swaping 2 number without using temp
a=10
b=15
a=a^b
b=a^b
a=a^b
print(a)
print(b)

a=int(input())
l=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday","Invalid Value"]
if(a>=8):
  print(l[-1])
else:
  print(l[a])

63
Invalid Value

#Looping Statements:
  it is also known as iteractive control statements.it will execute the block of code repeatedly.

*   For
*   While

In [62]:
a=int(input())
for i in range(1,a+1,2):
  print(i,end=" ")

123
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101 103 105 107 109 111 113 115 117 119 121 123

In [64]:
a=int(input())
digits=0
if a==0:
     digits=1;
else:
  while(a!=0):
    a=a//10
      digits+=1
print(digits)

1345
4

# Unconditional Statements

In [65]:
a=int(input())
for i in range(a+1):
  print(i,end=" ")
  if(i==5):
    break

85
0 1 2 3 4 5

In [73]:
a=int(input())
for i in range(a+1):
  if(i%2==0):
    continue
  else:
    print(i,end=" ")

12
1 3 5 7 9 11

In [93]:
n=int(input())
#s=(n*(n+1)//2)
# print((n**2+n)//2)
sum=0
for i in range(1,n+1):
  sum+=i
print(sum,end=" ")

13
91

## APPLICATION PROBLEM

In [95]:
print("Welcome to ATM")
pin=int(input("Enter the pin:"))
if(pin>1 and pin<9):
  print("User ")

Welcome to ATM